@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'TT Fors Black'; 
  src: url('../assets/TT Fors Trial Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 750px;
    position: relative;
    align-self: stretch;
    margin-left: 500px;
    margin-bottom: 200px;
    isolation: isolate;
    

}
.text-container h1{
    font-family: "TT Fors Black", serif;
    margin-top: 50px;
}
.text-container span{
    font-family: "TT Fors Black", serif;
}

.text-container h1,
.text-container span,
.text-container p{
  position: relative;
  z-index: 2;
}


.container-patterns{
  position: absolute;
  pointer-events: none;
  z-index: -1;
  width: 500px;
  height: 500px;
  background: transparent;
  background-image: radial-gradient(#838285 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: -5px -5px;
  right: 625px;
  top:0;
}


.textI {
  margin-bottom: 20px;
  font-family: 'Gilroy', sans-serif !important; /* Adicione o !important para testar */
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: white; 
  
} 
.imgBody {
    height: 700px;
}

.text-container h1{

    font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;

}

.text-container p {
    font-size: 20px;

    font-family: "Arial", sans-serif;


}


.btn-skills {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 20px;
 padding: 20px 15px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #F4413D;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
 cursor: pointer;
 align-self: flex-start;
}

.btn-skills::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: white;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

.btn-skills:hover, buttton p {
 color: black;
}

.btn-skills:hover::before {
 width: 100%;
}

.btn-skills p {
  font-size: 15px;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

